<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>LynnusMusic</title>
    <link rel="stylesheet" href="/styles/lynnus2.css">
</head>
<body>
    <script type="text/javascript" src="/js/lynnus2.js"></script>

    <script>
        let nombre1 = persona.nombre1;
        let nombre2 = persona.nombre2;
        let alias = persona.alias.toUpperCase();
        let dedicacion = persona.dedicacion.toLowerCase();
        let tituloAlbum = persona.tituloAlbum.toLowerCase();
        let lynnusId = datosBanner[0]
        let artistas = datosBanner[1]
        let generos = datosBanner[2]
        let quienSoy = datosBanner[3]
        let acercaDe = datosBanner[4]
    </script>


    

<!-- <header>

    
    <section>
            <div class="tituloLynnus">
                <h1> <script> document.write(`${alias}`) </script> </h1>
                <h2> <script>document.write(`${dedicacion}`)</script> </h2>
            </div>
    </section>



</header> -->

<div class="tituloLynnus">
    <nav>
        <ul>
            <li> <a href="id_s.html"> <script> document.write(`${lynnusId}`)</script> </a> </li>
            <li> <a href="artistasLynnus.html"> <script> document.write(`${artistas}`)</script> </a> </li>
            <!-- <li> <a href="#"> <script> document.write(`${generos}`)</script> </a> </li> -->
            <li> <a href="#"> <script> document.write(`${generos}`)</script> </a> </li>
            <li> <a href="#"> <script> document.write(`${quienSoy}`)</script> </a></li>
            <li> <a href="#"> <script> document.write(`${acercaDe}`)</script> </a> </li>
        </ul>
    </nav>
    <h1> <script> document.write(`${alias}`) </script> </h1>
    <h2> <script>document.write(`${dedicacion}`)</script> </h2>
</div>

<div class="cuerpo">
    
    <div>
        <h2> <span class="portadaTitulo"> <script>document.write(`${tituloAlbum}`)</script> </span></h2>
    </div>

    <section>         
            <article class="imgPortadas">
                <a href="https://soundcloud.com/iego-baiza" target="_blank" rel="noopener noreferrer"> <img class="sHappen" src="/img/Something_happen.jpg" alt=" Portada de Something Happen"></a>
                <img class="dGlamour" src="/img/Dance_by_Glamour.jpg" alt=" Portada Dance by Glamour ">
                <img class="rosesEP" src="/img/Roses_ep.jpg" alt=" Portada Roses EP">
                <img class="alwaysStanding" src="/img/Always_standing.jpg" alt=" Portada de Always Standing">
                <img class="hyperlink" src="/img/Hyperlink.jpg" alt=" Portada de Hyperlink">
            </article>
    </section>




</div>




        


</body>
</html>